# Ignore everything
*
!*/

# Ignore .vscode folders everywhere
.vscode/
build/
# But not these files in root and subdirectories
!*.cpp
!.gitignore
!*.md
!*.csv
!*.h
!*.hpp
!*.json
!*.txt
!*.yml
!**/*.yml